/* Place CSS styles here */
header{
    background-color: #bf00ff;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

body{
    list-style-position: inside;
    text-align: center;
    color:black;
    background-color:#e8cafa
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.coffee-love{
    text-transform: uppercase;
    font-weight: bold;
}

.coffee-art{
    border: 4px solid black;
}

.lighting-art{
    border: 4px solid black;
}

.giphy-embed{
    border: 8px solid rgb(255, 255, 255);
}

.charlie-brown{
    border: 8px solid white;
}

.bed-bear{
    border: 4px solid black;
}

